/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

.theme-dark {
  --gradient1: #000;
  --gradient2: #007f0c;
  --gradient22: #004306;
  --themes-background: #000;
  --themes-main-color: #00cc14;
  --conter: #00cc14;
  --core: black;
  --button: #00cc14;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --main-font: "Inter";
  --accent-font: "Press Start 2P";
}

.theme-light {
  --gradient1: #d3d3d3;
  --gradient2: #e7e7e7;
  --gradient22: #1a1a1a;
  --themes-background: #fff;
  --themes-main-color: #000;
  --conter: #000;
  --core: white;
  --button: white;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --main-font: "Inter";
  --accent-font: "Press Start 2P";
}

@media (prefers-color-scheme: dark) {
  .theme-auto:root {
    --gradient1: #000;
    --gradient2: #007f0c;
    --gradient22: #004306;
    --themes-background: #000;
    --themes-main-color: #00cc14;
    --conter: #00cc14;
    --core: black;
    --button: #00cc14;
    --bold-font-weight: 700;
    --regular-font-weight: 400;
    --main-font: "Inter";
    --accent-font: "Press Start 2P";
  }
}
