/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --gradient1: #d3d3d3;
  --gradient2: #e7e7e7;
  --gradient22: #1a1a1a;
  --themes-background: #fff;
  --themes-main-color: #000;
  --conter: #000;
  --core: white;
  --button: white;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
}
